*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("../img/Copia de Landscape.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	/*preguntar si esta bien con esto, ya que la imagen se achique background-size: 100%;*/
}

.flex-container{
	display: flex;
}


#cat-principal.flex-container{
	justify-content: center;
	align-items: flex-end;
	/*position: relative;
	top: 100px;	*/
}

section{
	height: 700px;
}

/*#cat-principal img{
	justify-content: center;
	/*flex-direction: column;
	margin-right: auto;
	align-items: flex-end;
	/*margin-left: 200px;
}*/
