body{
	background-image: url("../img/Copia de Landscape.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	/*preguntar si esta bien con esto, ya que la imagen se achique background-size: 100%;*/
}

.flex-container{
	display: flex;
}